body{
    background-color:cadetblue;
    padding: 50px;
}


button{
    height: 30px;
    background-color: rgb(28, 171, 28);
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

h1{
    color: black;   
}

hr{
    width: 100%;
}

.formulario{
    border: 1px solid black;
    width: 500px;
    padding: 10px;
    background-color: rgb(218, 215, 215);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 auto;
}

.input{
    margin-bottom: 5px;
    
}

#texto-tarea{
    width: 400px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid silver;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.realizado {
    color: green;
  }